@font-face{
	font-family: gameOfThrones;
	src: url("../font/gameOfThrones.ttf"); 
}

.gameOfThroneHeader{
	font-family: gameOfThrones;
	font-size: 5em;
	font-weight: bold;
	color: white;
	-webkit-text-shadow: 2px 2px 7px orange, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px black, 3px 7px 5px black;
	-moz-text-shadow: 2px 2px 7px orange, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px black, 3px 7px 5px black;
	text-shadow: 2px 2px 7px orange, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px black, 3px 7px 5px black;
	text-align: center;
	line-height: 1.2;
	margin-top: 50px;
}

body{
    background: linear-gradient(#21303b, white, #21303b);
}

.invisible{
	visibility: hidden;
}

.mainContentContainer{
	width: 1500px;
	height: 750px;
	margin: auto;
	/*margin-top: 100px;*/
	outline: 2px dashed #98abb9;
	outline-offset: -7.5px;
	background-color: #556068;
	-webkit-box-shadow: 3px 7px 5px #000, -3px 7px 5px #000, 3px -7px 5px #000, -3px -7px 5px #000;
	-moz-box-shadow: 3px 7px 5px #000, -3px 7px 5px #000, 3px -7px 5px #000, -3px -7px 5px #000;
	box-shadow: 3px 7px 5px #000, -3px 7px 5px #000, 3px -7px 5px #000, -3px -7px 5px #000;
}

.startScreenContentBox{
	width: 1465px;
	height: 715px;
	border-radius: 30px;
	background-color: #556068;
	margin: auto;
	margin-top: 50px;
	position: relative;
	top: 17px;
}

#headerText, .startButtonHeader, .resetButtonHeader{
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	-webkit-text-shadow: 2px 2px 7px black, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px white, 3px 7px 5px black;
	-moz-text-shadow: 2px 2px 7px black, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px white, 3px 7px 5px black;
	text-shadow: 2px 2px 7px black, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px white, 3px 7px 5px black;
	text-align: center;
	margin:auto;
	position: relative;
	top: 10px;
}

.startButtonHeader, .resetButtonHeader{
	position: relative;
	top: 175px;
}

.startText, .resetText{
	position: relative;
	top: 225px;
}
.startButton, .resetButton{
	width: 587.5px;
	height: 75px;
    margin: auto;
    display: block;
	border: solid 2px black;
	border-radius: 10px;
	position: relative;
	top: 275px;
}

.timer, .question, .choiceOne, .choiceTwo, .choiceThree, .choiceFour, .startText, .startButton, .resetText, .resetButton{
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
	color: white;
	text-shadow: 2px 2px 7px black, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px white;
	text-align: center;
}

.timer{
	margin-top: 30px;
}

.question{
	margin-top: 20px;
}

.imageBoxContainer, .imageSize{
	width: 450px;
	height: 227px;
	margin-top: 15px;
}

.imageBoxContainer{
    display: block;
    margin: auto;
}

.imageSize{
    box-shadow: 0px 4px 10px black, 4px 0px 10px black, 0px -4px 10px black, -4px 0px 10px black;
	transition: all 2s ease;
}

.imageSize:hover{
	-webkit-filter: brightness(125%);
}

.fourAnswerChoices{
	margin: auto;
	margin-top: 60px;
	width: 1200px;
	height: 250px;
}

.choiceOne, .choiceTwo, .choiceThree, .choiceFour{
	width: 587.5px;
	height: 100px;
	line-height: 4;
	text-align: center;
	font-weight: bold;
}

.choiceThree{
	clear: left;
}
.choiceOne, .choiceThree{
	float: left;
}

.choiceTwo, .choiceFour{
	float: right;
}

.choiceThree, .choiceFour{
	margin-top: 25px;
}
.choiceOne:hover, .choiceTwo:hover, .choiceThree:hover, .choiceFour:hover, .startButton:hover, .resetButton:hover{
	background: white;
}

.inset{
	transition: all 1s ease;
    background-color: rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0px 4px 10px black, 4px 0px 10px black, 0px -4px 10px black, -4px 0px 10px black;
	-moz-box-shadow: 0px 4px 10px black, 4px 0px 10px black, 0px -4px 10px black, -4px 0px 10px black;
    box-shadow: 0px 4px 10px black, 4px 0px 10px black, 0px -4px 10px black, -4px 0px 10px black;
}

.scoreMargins{
	margin-bottom: 25px;
}

.answerText{
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
	color: white;
	text-shadow: 2px 2px 7px black, -2px -2px 7px black, -2px 2px 7px black, 2px -2px 7px white;
	text-align: center;
	margin-top: 15px;
}

#red{
	color: red;
}